<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ariya" translate="label" sortOrder="110" class="ariya-tab">
            <label>Ariya</label>
        </tab>
        <section id="myorder" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>My Order</label>
            <tab>ariya</tab>
            <resource>AriyaInfoTech_MyOrder::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
            </group>
        </section>
    </system>
</config>

